@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');

/* common css  */

html,
body{
margin: 0;
padding: 0;
font-family: 'Arvo', serif;
}

/* header */

 .navbar-brand {

    font-size: 1.5rem;

 }
 .nav-link{

    font-size: 1.2rem;
 }
  
 /* home */

 #home{
    width: 100%;
    min-height: 100vh;

 }

 #particles-js{
    width: 100%;
    min-height: 100vh;
    position: absolute;
    top:0;left: 0;
    background:#527cec ;
 }
 #name{
    margin-top: 16rem;
    font-size: 4rem;
    color: #fff;
    font-weight: bold;
    text-align:center;
 }

 #tagline{
    margin-top: 1rem;
    font-size: 2rem;
    color: #fff;
    text-align: center;
 }
 #learn-more{
    padding: .4rem 1rem;
    max-width: 10rem;
    color: #fff;
    margin: 0 auto;
    display: block;
    border: 2px solid #fff;
    border-radius: 1rem;
    text-decoration: none;
    text-align: center;
 }

 #learn-more:hover{
    text-decoration: none;
 }


 /* resume */

 #resume{

    width: 100%;
    height: auto;
    padding: 5rem 0;
 }

 #resume .card{
    margin-left: auto;
    margin-right: auto;
 }
 #resume .card img{
    height: 150px;
 }

 /* portfolio */

 #portfolio{
    width: 100%;
    height: auto;
    padding: 4rem 0;
 }

 #portfolio img{
    margin-top: 30px;
    width: 100%;
    height: 220px;
 }
 #portfolio .grid{
    position: relative;
    width: 100%;

 }
 #portfolio .grid .overlay{
    position: absolute;
    margin-top: 30px;
    top:0;bottom: 0;
    left: 0; right: 0;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background: #527cec;
 }
 #portfolio .grid:hover .overlay{
    opacity: 1;
 }
 .text{
    color:#fff;
    font-size: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;

 }

 /* contact */

 #contact{
    width: 100%;
    height: auto;
    padding: 4rem 0; 
 }

 #contat form{
    width: 100%;
 }
 #contat form input,
 #contat form textarea{
    background:#d8def0;
 }
 #contact form .submit-message{
    margin-left: 15px;
    margin-right: 15px;
    background: #527cec;
    color:#fff;

 }

 /* footer */

 #footer{
    width: 100%;
    height: auto;
    background: #d8def0;
    padding: 2rem 0 4rem; 
 }
 footer ul{
    list-style: none;
    padding-left: 0;
 }

 footer .back-to-top{
    display: block;
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: #333;

 }
 footer .back-to-top:hover{
    text-decoration: none;
    color: #527cec;
 }

 footer ul#social{
    list-style: none;
    padding-left: 0;
    text-align: right;
 }
 footer ul#social li{
    display:inline-block;
    margin-left: 1rem;
 }
 footer ul#social a{
    text-decoration: none;
    color: #333;
    font-size: 2rem;
 }
 footer ul#social a:hover{
    text-decoration: none;
    color: #527cec;
     
 }
footer a,footer p{
    color: #333;
}
footer a:hover{
    color:#527cec;
}
footer p {
    text-align: right;
}
